{% extends "base.html" %}

<!-- Jumbotron -->
{% block header %}
<div class="mb-4 bg-light rounded-3">
  <div class="jumbotronback container-fluid p-5">
    <h1 class="display-5 my-5 fw-bold">Find your perfect music concert</h1>
    <p class="my-5 fs-4">Book tickets for yourself and friends!</p>
    <a class="btn btn-primary btn-lg" href="#browse-events">
      Find your events
    </a>
  </div>
</div>
{% endblock %}

<!-- Main -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col my-4"><h2>Newest Events</h2></div>
  </div>

  <!-- Displays the 3 newest events in cards -->
  <div class="row">
    {% for event in events_newest %}
    <div class="col-md-4">
      <div class="card mb-3">
        <img
          src="{{event.image}}"
          class="card-img-top"
          alt="Image for the event"
        />
        <p class="text-end mt-2 me-2 {{event.status}}">
          <strong>{{event.status}}</strong>
        </p>

        <div class="mx-3">
          <h3>{{event.artist_name}}</h3>
          <h4>{{event.event_name}}</h4>
          <p><strong>Location: </strong>{{event.location}}</p>
          <p><strong>Date: </strong>{{event.date}}</p>
        </div>

        <a
          href="{{url_for('event.show', id = event.id)}}"
          class="btn btn-primary"
          >Details</a
        >
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Browse events -->
  <div class="row" id="browse-events">
    <div class="col my-4">
      <h2>Find An Event</h2>
    </div>
  </div>

  <form action="{{url_for('main.search')}}">
    <div class="row">
      <div class="col-md-6 my-3">
        <label for="search-artist">Search by Artist</label>
        <input
          type="text"
          class="form-control mt-2"
          id="search-artist"
          name="search-artist"
        />
      </div>

      <div class="col-md-6 my-3">
        <label for="search-category">Search by Category</label>
        <select
          class="form-select mt-2"
          id="search-category"
          aria-label="Default select example"
          name="search-category"
        >
          <option selected value="">Select...</option>
          <option value="Coutnry">Country</option>
          <option value="Electronic">Electronic</option>
          <option value="Funk">Funk</option>
          <option value="Hiphop">Hop Hip</option>
          <option value="Jazz">Jazz</option>
          <option value="House">House</option>
          <option value="Pop">Pop</option>
          <option value="Rap">Rap</option>
          <option value="Rock">Rock</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary my-3">Filter</button>
  </form>

  <!-- Events list -->

  <!-- Event card 1 -->
  {% for event in events %}
  <div class="row border-bottom my-2 event-hori">
    <div class="col-md-6 col-lg-5 col-xl-4">
      <img
        class="hori-card-img"
        src="{{event.image}}"
        alt="Image for the event"
      />
    </div>
    <div class="col-md-6 col-lg-7 col-xl-8">
      <div class="results">
        <div class="d-flex justify-content-end">
          <p class="d-inline status {{event.status}} mt-2 me-2 p-2">
            <strong>{{event.status}}</strong>
          </p>
        </div>

        <h3>{{event.artist_name}}</h3>
        <h4>{{event.event_name}}</h4>
        <p>{{event.date}}, {{event.genre}}</p>
        <a
          class="btn btn-primary mb-3"
          href="{{url_for('event.show', id = event.id)}}"
          >View Details</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
